.order-page {
  padding: 10px 20px;
}

.order-page .header {
  margin-bottom: 20px;
}
.order-page .title {
  font-family: "Playfair Display";
  font-size: 40px;
  font-weight: 500;
  /* margin-bottom: 20px; */
}

.order-page .action {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* font-family: Inter; */
  margin-bottom: 20px;
}
.order-page .action .action-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.make-order-space {
  display: flex;
  justify-content: space-between;
}
