* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /* font-family: "Jost"; */
}

.container-main {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  /* padding-bottom: 30px; height of your footer */
  width: 100%;
  background-color: rgb(241, 241, 241);
}

.d-flex-between-two {
  display: flex;
}
